.input-style-1 {
	width: 300px !important;
	line-height: 3em !important;
	font-weight: 600 !important;
}

.heading-h6 {
	color: #000000 !important;
	margin: 0 !important;
	font-size: 12px !important;
}
